<%- include('./partials/header') %>

<%- include('./partials/nav') %>


<div class="form-login-signup">
    <form action="">
        <h2>Actualiza los datos de tu cuenta</h2>
        

        <label>
            <input type="email" name="email" id="input-email" placeholder="<%= email %>">
        </label>
        <div class="email error"></div>
        <label>
            <input type="password" name="password-new" id="input-password" placeholder="contraseña nueva">
        </label>
        <div class="password error"></div>
    
        <div>
            <button id="actualizar-email" >Actualizar correo</button>
            <button id="actualizar-contrasena">Actualizar contraseña</button>
            <button id="eliminar-cuenta" >Eliminar cuenta</button>
        </div>
    </form>
</div>









<!-- Toast - ventana errores -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="toastTitle">Error</strong>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody">
            Error
        </div>
    </div>
</div>


<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que quieres borrar esta cuenta y todos sus datos asociados?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="confirmDelete">Borrar</button>
        </div>
      </div>
    </div>
  </div>




<!-- The Modal -->


<!-- importo el js y la librería de graficos -->
<script src="libs\d3\cal-heatmap\d3.v7.min.js"></script>
<script src="scripts/account.js" defer></script>


<%- include('./partials/footer') %>
