<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="form-login-signup">
    <form action="">
        <h2>Regístrate</h2>
      
        <label>
            <input type="email" name="email" id="" placeholder="correo electrónico">
        </label>
        <div class="email error"></div>
        <label>
            <input type="password" name="password" id="" placeholder="contraseña">
        </label>
        <div class="password error"></div>
    
        <button>Registrarte</button>
    </form>
</div>

<script src="scripts/signup.js"></script>

<%- include('./partials/footer') %>