// variables generales 

$white: rgb(255, 255, 255);
$fondo: #0f0d0e;
$cuadricula: #1e1e1e;
$morado: #855cff;
$rosa: rgb(230, 0, 255);
$fondoMenuMovil: rgba(15, 13, 14, .97);
$fondo2: rgba(31, 38, 47, .9);
$black: rgb(0, 0, 0);
$nav: #0f0d0e5f;
$navHover: rgba(26, 26, 28, 0.845);
$links: rgb(252, 255, 89);
$links-hover: rgb(251, 255, 2);
$white2: rgb(255, 255, 255);
$azul: #09e7f3;
$fondoTitulo: rgba(0, 0, 0, 0.748);